.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    align-self: center;
    padding: 2rem;
}

.wrapper .board {
    background: url('../../public/logo.png') no-repeat center center;
    background-size: contain;
    border: 1px solid #999;
    border-radius: 0.4rem;
    overflow: hidden;
}


.tile_row {
    margin: -0.3rem;
}

.tile {
    position: relative;
    display: inline-grid;
    margin: 0 -1px;
    padding: 3.6rem;
    transition: background-color 2s ease-in;
    border: 1px #aaa solid;
}

.tile.visible {
    background-color: #fff;
    display: inline-grid;
}

.tile .icon {
    display: none;
}

.tile.active .icon {
    display: block;
    transition: all 0.4s ease;
    position: absolute;
    left: calc(50% - 0.5rem);
    top: calc(50% - 0.5rem);
}

.tile.active .icon svg {
    height: 1rem;
    width: 1rem;
}

input[type=number] {
    width: 2rem;
}
